.name-container {
  padding: 10px 15px;
  background-color: #f3f4f8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.name-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.name-div .name {
  transform: translateY(1px);
}

.options-icon {
  font-size: 20px;
  color: #28213a;
  padding: 8px;
  border-radius: 10px;
}

.userinfo-icon {
  font-size: 22px;
  color: #28213a;
  padding: 8px;
  border-radius: 10px;
}

.options-icon:hover {
  background-color: #d2d4da;
  cursor: pointer;
}

.userinfo-icon:hover {
  background-color: #d2d4da;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.chat-pagediv {
  display: flex;
  height: 92.25vh;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;
}

.message-container {
  background-color: #f3f4f8;
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px !important;
  box-sizing: border-box;
  gap: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.message-container input {
  width: 100%;
  border-radius: 10px;
  padding: 10px 2px;
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 15px;
}

.input-container2 {
  background-color: hsl(225, 10%, 84%, 0.5);
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
}

.msgbar-icon {
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
}

.msgbar-icon-emoji {
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
}

.msgbar-icon:hover {
  background-color: hsl(225, 10%, 84%, 0.5);
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.send {
  display: flex;
  align-items: center;
  gap: 2px;
}

.send button {
  display: flex;
  align-items: center;
  border: none;
  color: #fff;

  justify-content: space-between;
  border-radius: 10px;
  background-color: #101223;
}

.nochat-selected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(110%);
}

.nochat-msg {
  width: 450px;

  padding: 30px;
  border-radius: 3px;
}

.messages {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 20px;

  overflow-y: scroll;
  scrollbar-width: none;
}
