.profile-container button {
  border: none;
  color: #fff;
  padding: 10px 46px;
  background-color: #101223;
}

.profile-container .box {
  margin-top: 50px;
  padding: 50px;
  width: 370px;
}

.profile-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #d2d4da;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.profile-content .input-container {
  width: 92%;
  border-radius: 2px;
}

.profile-content p {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-content h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.imgdiv {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.imgdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-picture {
  width: 100%;
  margin-top: 10px;
  border-radius: 2px;
  height: 50px;
}

.profile-content input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #9496a1;
  font-size: 14px;
  width: 100%;
}

.profession {
  display: flex;
  gap: 5px;
}

.profile-picture {
  width: 100%;
  cursor: pointer;
  z-index: 99;
  background-color: #101223;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container .btns {
  gap: 2px !important;
}

.profile-container .btns button {
  border-radius: 2px;
  padding: 13px 54.5px;
}

.profile-container button {
  font-size: 15px !important;
}

.profile-container p {
  font-size: 14px;
  color: #5b5d6b;
}
