.create-team .modal-overlay {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000 !important;
}

.create-team .modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.create-team .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.create-team .close:hover,
.create-team .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.no-data {
  font-size: 14px !important;
  color: #777986;
  margin: 4px !important;
}

.create-team h2 {
  margin-top: 0;
  font-size: 24px;
}

.search-icon {
  transform: scale(120%);
}

.create-team form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 15px;
}

.selected-list {
  display: flex;
  gap: 3px;
  margin: 0 !important;
  flex-wrap: wrap;
}

.dlt-user {
  padding: 5px;
  margin-right: -5px;
  border-radius: 50%;
}

.dlt-user:hover {
  background-color: hsl(225, 10%, 84%, 0.25);
}

.selected-users p {
  transform: translateY(-1px);
}

.selected-users {
  background-color: #101223;
  color: #fff;
  padding: 5px 15px;
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 3px;
  flex-direction: row;
  border-radius: 5px;
}

.create-team input[type="text"] {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  border-radius: 2px;
}

.create-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.team-icon {
  font-size: 22px;
}

.closediv {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  margin-top: -25px;
  margin-right: -25px;
  font-size: 22px;
}

.create-team button[type="submit"] {
  background-color: #101223;
  outline: none;
  color: #fff;
  height: 50px;

  font-size: 16px;

  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}

.error {
  font-size: 14px !important;
  color: #777986;
  margin: 4px !important;
}

.user-list {
  max-height: 250px;
  margin: 0 !important;
  overflow-y: scroll;
}

.user-list::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
