.signup-container {
  height: 100vh;
  width: 100%;
  background-color: #101223;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.box p {
  color: #777986;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
}

.input-container {
  padding: 12px;
  background-color: #f3f4f8;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.forgot {
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.forgot span {
  color: #101223;
  text-decoration: underline;
}

.columns input {
  border: none;
  background-color: transparent;
  border-radius: 2px;
  width: 100%;
  outline: none;
}

.btns {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.btns h3 {
  background-color: #101223;
  color: #fff;
  font-weight: 400;
  padding: 10px 60px;
  border-radius: 2px;
  font-size: 16px;
}

.fillbtn {
  background-color: #101223;
  color: #fff;
  border: none;
  padding: 15px;
  margin-top: 15px;
  border-radius: 2px;
}

.inactive {
  background-color: #b3b5bd !important;
}

.prompt {
  font-size: 14px !important;
}

.error {
  padding: 0px;
  width: 90%;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;

  text-align: center;
}

.message-container {
  width: 100%;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
}
