.scrollable-feed-container {
  height: 100%;
  transform: translateY(-10px);
  width: 100%;
}

.scrollable-feed {
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px 0px; /* Add padding if needed */
  position: relative;
  width: auto;
}

.scrollable-feed::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.m-container {
  width: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.message-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.sender-name {
  position: absolute;
  top: 2px;
  left: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #777986;
}

.imgdiv3 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -15px;
  position: absolute;
}

.imgdiv3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sender,
.receiver {
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 75%;
  font-size: 15px;
  word-wrap: break-word;
}

.sender {
  background-color: #f3f4f8;
}

.receiver {
  background-color: #101223;
  color: #fff;
  margin-left: 55px;
}

.message-wrapper.reciever {
  display: flex;
}

.sender-wrapper {
  display: flex;
  justify-content: flex-end;
}

.receiver-wrapper {
  display: flex;
  justify-content: flex-start;
}

.same-user-margin {
  margin-bottom: 10px;
}
