.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.inactive {
  background-color: #d2d4da !important;
}

.modal-content2 {
  background: transparent !important;
}

.close-icon2 {
  margin-top: -37px;
  margin-right: -37px;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
}

.close-icon2:hover {
  background-color: #f3f4f8;
}

.modal {
  background: white;
  padding: 40px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-icon {
  padding: 10px;
  border-radius: 10px;
}

.close-icon:hover {
  background-color: #f3f4f8;
}

.modal-content2 .btns {
  width: 100%;
}

.modal-content2 .btns button {
  width: 100%;
  height: 45px;
}
